DATABASE_URL="mysql://prisma:prismapassword@127.0.0.1:3306/prismadb"

ACCESSTOKEN_SECRET="4ae95a112c0d461720ecb01c4de77cb0f8d53129d4c584ac1d0ee703e5131033"
REFRESHTOKEN_SECRET="4ae95a112c0d461720ecb01c4de78cb0f8d53129d4c584ac1d0ee703e5131034"

ACCESS_TOKEN_EXPIRES_IN="900"
REFRESH_TOKEN_EXPIRES_IN="8467200"

REFRESHTOKEN_COOKIE_NAME="refresh_token"

SMTP_HOST="relais.exemple.fr"
SMTP_USER="monsuperuser"
SMTP_PASS="monsuperpassword"
SMTP_FROM='"les-petits-explorateurs" <les-petits-explorateurs@exemple.fr>'

# Administrateur par défaut
# Attention : pour rappel, il y a des champs uniques
ADMIN_EMAIL='owner@cmi-info.fr'
ADMIN_PASSWORD='owner1234'
ADMIN_FIRSTNAME='owner'
ADMIN_LASTNAME='OWNER'
PORT_GATEWAY=3008