@import "tailwindcss";

@font-face {
  font-family: "Lexend";
  src: url(../public/fonts/Lexend-VariableFont_wght.ttf)
}

body {
  font-family: "Lexend", sans-serif;
}

:root {

  /* Info, error, success colours & alpha values */
  --info: #3A7CA5;

  --error: #E07A5F;

  --success: #7FB3A2;

  /* default */
  --background: #000000;
  --color-primary: #aaaaaa;
  --color-primary-light: #ffffff;
  --color-primary-100: #cccccc;
  --color-primary-300: #eeeeee;

  /* Gris */
  --gris-dark: #7A7A7A;
  --gris-light: #CFCFCF;
  --gris-beige: #E5E2DC;
}

/* ========================= */
/* CLAIR */
/* ========================= */

.light {
  &.bleu {
    --background: #0F1E26;
    --color-primary: #3A7CA5;
    --color-primary-light: #E6EEF3;
    --color-primary-100: #8FB9D6;
    --color-primary-300: #2F6F9E;
  }

  &.vert {
    --background: #081C15;
    --color-primary: #74C69D;
    --color-primary-light: #E6F4EC;
    --color-primary-100: #95D5B2;
    --color-primary-300: #2A9D8F;
  }

  &.jaune {
    --background: #1F1A05;
    --color-primary: #F4C430;
    --color-primary-light: #FFF6D6;
    --color-primary-100: #FFD866;
    --color-primary-300: #D4A017;
  }

  &.rouge {
    --background: #1C0A0A;
    --color-primary: #E76F51;
    --color-primary-light: #FDECEA;
    --color-primary-100: #F4A261;
    --color-primary-300: #C44536;
  }
}

/* ========================= */
/* SOMBRE */
/* ========================= */

.dark {
  &.bleu {
    --background: #0A141A;
    --color-primary: #2F6F9E;
    --color-primary-light: #3A7CA5;
    --color-primary-100: #4F93C2;
    --color-primary-300: #1F4E73;
  }

  &.vert {
      --background: #061410;
    --color-primary: #2A9D8F;
    --color-primary-light: #40916C;
    --color-primary-100: #52B788;
    --color-primary-300: #1B6B5C;
  }

  &.jaune {
    --background: #151102;
    --color-primary: #D4A017;
    --color-primary-light: #F4C430;
    --color-primary-100: #E9B949;
    --color-primary-300: #A07800;
  }

  &.rouge {
    --background: #140707;
    --color-primary: #C44536;
    --color-primary-light: #E76F51;
    --color-primary-100: #F08080;
    --color-primary-300: #922B21;
  }
}

@theme {
    --color-gris-light: var(--gris-light);
    --color-gris-dark: var(--gris-dark);
    --color-gris-beige: var(--gris-beige);

    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-primary-100: var(--color-primary-100);
    --color-primary-300: var(--color-primary-300);
    --color-primary-background: var(--background);

    --color-success: var(--success);
    --color-info: var(--info);
    --color-error: var(--error);
}
